.venv/
.pylintrc
__pycache__
.vscode
.idea
db.sqlite3
media/
Lib/
Scripts/
Include/
pyvenv.cfg
.vscode/
.idea/
venv/
env/
.venv/
__pycache__/
img/
.env
fixtures/
products/
dump.py
cars.session.sql
users_image
.ruff_cache/